<footer class="footer">
  <section class="footer-wrap container">
    <div class="footer-left col-lg-7 col-md-7 col-xs-12">
      &laquo;Галерея красок&raquo;. Официальный представитель  &laquo;Senideco&raquo;. 2016-2017
    </div>
    <div class="footer-right col-lg-5 col-md-5 col-xs-12">
      <a href="#" class="footer-link">Сайт разработан в студии  &laquo;Нефабрика&raquo;</a>
    </div>
  </section>
</footer>