<header class="header">
  <nav class="navbar">
    <div class="no-pad container-fluid">

      <div class="navbar-header container no-pad">
        <button type="button" class="navbar-toggle navbar-menu-btn">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand-mob" href="index.html">
          <img src="img/logo.png" alt="Senideco">
        </a>
      </div>

      <div class="navbar-menu" id="header-nav">
        <div class="no-pad container">
          <div class="no-pad col-xs-12">
            <a class="navbar-brand" href="index.html">
              <img src="img/logo.png" alt="Senideco">
            </a>
          </div>
          <div class="no-pad col-xs-12">
            <ul class="nav-links nav navbar-nav">
              <li><a href="#about" class="nav-link">О &laquo;SENIDECO&raquo;</a></li>
              <li><a href="#about_us" class="nav-link">О НАС</a></li>
              <li><a href="#collections" class="nav-link">КОЛЛЕКЦИИ</a></li>
              <li><a href="#colors" class="nav-link">ПОДБОР ЦВЕТА</a></li>
              <li><a href="#services" class="nav-link">УСЛУГИ ПО НАНЕСЕНИЮ</a></li>
              <li><a href="#portfolio" class="nav-link">ПОРТФОЛИО</a></li>
              <li><a href="#delivery" class="nav-link">ДОСТАВКА</a></li>
              <li><a href="#certificates" class="nav-link">СЕРТИФИКАТЫ</a></li>
              <li><a href="#contacts" class="nav-link">КОНТАКТЫ</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </nav>
</header>