@font-face {
  font-family: 'Reg';
  src: url('../fonts/PPReg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bold';
  src: url('../fonts/PDBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

