.footer {
  background-color: white;

  .footer-wrap {
    padding: 50px 0;
  }

  .footer-left {
    color: #9e9e9e;
    font-size: 16px;
  }

  .footer-link {
    color: #9e9e9e;
    float: right;
    font-size: 16px;
    display: inline-block;
    text-decoration:none;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:after {
      display: block;
      content: "";
      margin-top: 5px;
      height: 2px;
      width: 0%;
      transition: width .2s ease-in-out;
      background-color: #9e9e9e;
    }
    &:hover:after,
    &:focus:after {
      width: 100%;
    }
  }
}