body {
  font-family: 'Reg', 'Bold', Helvetica Neue, Helvetica, Arial, sans-serif !important;
  background-color: white;
  overflow-x: hidden;
  &.active {
    overflow: hidden;
  }
}

.btn-main, .btn-main:focus {
  border-radius: 20px;
  color: black !important;
  font-family: "Reg";
  border: 2px solid black !important;
  background-color: #fff200;
  font-size: 18px;
  padding: 10px 18px;
  transition: background .2s ease;
  outline: none !important;
  &:hover, &:active {
    background-color: #c1b400 !important;
  }
}

.no-pad {
  padding: 0;
}

#toTop {
  text-align:center;
  position:fixed;
  bottom:5%; /* отступ кнопки от нижнего края страницы*/
  right:1%;
  cursor:pointer;
  display:none;
  font-size: 12px;
  background-color: rgba(255, 242, 0, 0.3) !important;
  border: 2px solid rgba(0,0,0, 0.5) !important;
  z-index: 999;
  &:hover, &:active {
    background-color: rgba(255, 242, 0, 0.6) !important;
  }
}
