.header {

  .navbar {
    margin-bottom: 0px;
    border: none;
  }
  .navbar-right {
    margin-right: 0;
  }

  .nav-links {
    font-family: 'Reg';
    font-size: 18px;
    margin-top: 10px;
  }
  .nav-link {
    color: black;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:after {
      display: block;
      content: "";
      margin-top: 11px;
      height: 4px;
      width: 0%;
      transition: width .2s ease-in-out;
      background-color: #fff200;
    }
    &:hover:after,
    &:focus:after,
    &.active:after {
      width: 100%;
    }
  }

  .navbar-brand {
    margin-left: 0 !important;
    h: 100%;
  }
  .navbar-brand-mob {
    display: none;
  }

  .navbar-menu-btn {
    margin: 0;
    padding: 0;
    border: none;
    margin-top: 57px;
    margin-right: 15px;
    width: 50px;
    height: 45px;
    span {
      transition: all .25s ease-in-out;
      display: block;
      position: absolute;
      height: 4px;
      margin: 0;
      width: 100%;
      opacity: 1;
    }
    span:nth-child(1) {
      top: 0px;
    }
    span:nth-child(2), span:nth-child(3) {
      top: 13px;
    }
    span:nth-child(4) {
      top: 28px;
    }
    &.active span:nth-child(1) {
      top: 13px;
      opacity: 0;
      transform: scale(0,0);
    }
    &.active span:nth-child(2) {
      transform: rotate(45deg);
    }
    &.active span:nth-child(3) {
      transform: rotate(-45deg);
    }
    &.active span:nth-child(4) {
      top: 13px;
      opacity: 0;
      transform: scale(0,0);
    }
  }

}