@media screen and (min-width: 1635px) {
  .container {
    width: 1635px !important;
  }
}

@media screen and (min-width: 1400px) and  (max-width: 1634px) {
  .container {
    width: 1400px !important;
  }
}

@media screen and (min-width: 1200px) and  (max-width: 1399px) {
  .container {
    width: 1200px !important;
  }

  .header {
    .nav-links {
      font-size: 15px;
    }
  }

}

@media screen and (min-width: 992px) and  (max-width: 1199px) {
  .header {
    .nav-links {
      font-size: 16px;
    }


  }

  .contacts-wrapper {
    .title {
      margin: 40px 0;
      font-size: 58px;
    }
  }
}

@media screen and (max-width: 1199px){
  .header {
    .navbar-header {
      height: 130px;
      margin-right: auto;
      margin-left: auto;
      float: none;
    }
    .navbar-menu {
      overflow-y: auto;
      overflow-x: hidden;
      position: fixed;
      height: 100%;
      width:100%;
      background: rgba(255, 255, 255, 0.9);
      top: 0;
      z-index: 199;
      display: none;
      .container {
        margin-top: 60px;
      }
    }
    .navbar-menu-btn{
      position: fixed;
      right: 0;
      z-index: 200;
    }

    .navbar-brand {
      display: none !important;
    }
    .navbar-brand-mob {
      display: inline-block;
      margin-left: 0;
      h: auto;
      margin-top: 55px;
      margin-left: 15px;
    }

    .navbar-toggle {
      margin-top: 57px;
      display: block;

      .icon-bar {
        background-color: black;
        border-radius: 6px;
      }
    }

    .navbar-nav {
      margin: 0;
      float: none;
      position: absolute;
      transition: left 1s ease;
      width: 100%;
      left: 100%;
      animation: fadeInRight .8s ease both;
      &.active {
        left: 0;
      }
    }
    .navbar-right {
      text-align: center;
      margin: 15px 0;
      .btn-main {
        margin-right: 0;
      }
    }
    .nav-links {
      li {
        text-align: center;
        float: none;
      }
      .nav-link {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .modal-body {
      padding: 15px !important;

      .title {
        margin-bottom: 20px !important;
        font-size: 36px !important;
      }
      label {
        display: inline !important;
      }
      #inputName {
        font-size: 20px !important;
      }
      .comment {
        font-size: 16px !important;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    .nav-links {
      font-size: 16px;
    }
  }

  .footer {
    .footer-link {
      float: left;
      padding-top: 20px;
    }
  }

  .services-wrapper {
    .text {
      padding: 15px;
    }
    .title {
      font-size: 58px;
    }
  }

  .delivery-wrapper {
    .bg-wrap {
      background-size: contain;
    }
  }

  .contacts-wrapper {
    .title {
      margin: 40px 0;
      font-size: 58px;
    }
    .contact-block {
      height: 600px;
    }
  }

}

@media screen and (min-width: 768px) and  (max-width: 991px) {
  .modal-body {
    padding: 50px !important;

    .title {
      margin-bottom: 20px !important;
    }
    label {
      display: inline !important;
    }
    #inputName {
      font-size: 20px !important;
    }
  }

  .slider-wrapper {
    .slider-block {
      height: 600px;
    }
    .title {
      font-size: 46px !important;
    }
    .text {
      font-size: 20px !important;
      top: 50% !important;
    }
  }

}

@media screen and (max-width: 767px) {

  .slider-wrapper {
    .slider-block {
      height: 500px;
    }
    .title {
      font-size: 36px !important;
    }
    .text {
      font-size: 18px !important;
      top: 60% !important;
    }
  }

  .eco-wrapper {
    .bg-wrap {
      background-position: 0 25%;
      background-size: contain;
    }
    .title {
      font-size: 38px;
    }
  }

  .collections-wrapper {
    .title {
      font-size: 52px;
    }
  }

  .colors-wrapper {
    .title {
      font-size: 38px;
      padding-bottom: 50px;
    }
    .text {
      padding-bottom: 50px;
    }
    .bg-wrap {
      background-position: 50% 100%;
      background-size: contain;
      min-height: 900px;
    }
  }

  .services-wrapper {
    .title {
      font-size: 48px;
    }
    .icon {
      .imgLiquid {
        background-position: center !important;
      }
    }
  }

  .porfolio-wrapper {
    .title {
      font-size: 48px;
    }
  }

  .delivery-wrapper {
    .title {
      font-size: 52px;
    }
    .text {
      font-size: 20px;
    }
    .bg-wrap {
      background-position: 50% 70%;
    }
  }

  .certificates-wrapper {
    .title {
      font-size: 42px;
    }
  }

  .contacts-wrapper {
    .map-wrap {
      height: 400px;
    }
    .contact-wrap {
      padding: 0 15px;
    }
    .title {
      font-size: 48px;
    }
    .contact-block {
      height: 650px;
    }
  }
}