.about-wrapper {

  opacity: 0;
  &.ani {
    ani: fadeInLeft .5s .2s ease both;
  }

  .bg-wrapper {
    background: url("../img/stroke_1.png") no-repeat;
    padding: 150px 0px 120px 0;
    margin-top: 100px;
  }

  .title {
    font-size: 36px;
    font-family: 'Bold';
    padding-bottom: 30px;
  }

  .text {
    font-size: 16px;
    font-family:'Reg';
    padding: 15px;
  }
}