.about_us-wrapper {

  .pic-wrap {
    height: 240px;
    padding: 15px;
  }

  .title {
    font-size: 62px;
    text-align: center;
    font-family: 'Bold';
    padding-bottom: 30px;
  }

  .sub {
    font-family: 'Reg';
    font-size: 16px;
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding-top: 30px;
    opacity: 0;
  }

  .imgLiquid {
    opacity: 0;
  }
}