.certificates-wrapper {
  padding: 100px 15px;

  .title {
    font-size: 68px;
    font-family: 'Bold';
    text-align: center;
  }

  .gallery-wrap {
    padding: 50px 15px;

    .figure-wrap {
      padding: 15px;

    }

    .img-wrap {
      padding: 0;

      .img-prev{
        width: 100%;
        height: 100%;
        max-height: 283px;
        object-fit: contain;
        transition: object-fit .3s ease;
      }

    }
  }
}