.collections-wrapper {

  padding: 150px 15px ;

  .title {
    font-family:'Bold';
    font-size: 72px;
    text-align: center;
  }

  .btn-wrap {
    text-align: center;
    padding: 50px 15px;

    .btn-main {
      font-size: 20px;
      img {
        margin-right: 10px;
      }
    }

    .sub {
      margin-top: 10px;
      color: #9e9e9e;
      font-size: 12px;
    }
  }

  .cards-wrap {
    padding: 0;
  }

  .card-wrap {
    padding: 15px;
  }

  .card-block {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow .3s ease ;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.42);
    }

    .text-1 {
      padding-left: 20px;
      padding-top: 20px;
      margin-bottom: 0;
      font-size: 24px;
      font-weight: bold;
    }

    .text-2 {
      padding-left: 20px;
      margin-bottom: 0;
      color: #9e9e9e;
      font-size: 16px;
      padding-bottom: 20px;
    }
  }

}

.collection-modal {
  .title {
    margin-bottom: 10px!important;
  }
  .desc {
    margin-bottom: 30px;
    color: #9e9e9e;
    font-size: 20px;
  }
  .text {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .card-wrap {
    padding: 15px;
  }
  .card-block {
    display: block;
    padding: 0;
    margin: 0;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
    text-decoration: none !important;

    .card-text {
      color: black;
      height: 88px;
      padding: 20px;
      font-size: 18px;
      line-height: 1.2;
      background: #fff;
    }
    img {
      width: 100%;
    }
  }
  figcaption {
    display: none;
  }
}