.colors-wrapper {


  .bg-wrap {
    background: url("../img/stroke_3.png") no-repeat;
    padding: 0px 0px 400px 0;
    margin-top: 100px;
    background-position: 13% 75%;
    //min-height: 500px;
    opacity: 0;
    &.ani{
      ani: fadeInLeft .5s .3s ease both;
    }
  }

  .title {
    font-family: 'Bold';
    font-size: 48px;
    padding-bottom: 150px;
  }

  .text {
    font-family: 'Reg';
    font-size: 18px;
    //font-weight: bold;
    opacity: 0;
    &.ani{
      ani: fadeInRight .5s .75s ease both;
    }
  }
}