.contacts-wrapper {
  padding: 100px 15px;

  .map-wrap {
    padding: 15px;
    #map {
      width: 100%;
      height: 100%;
    }
    height: 700px;
  }
  .contact-wrap {
    margin: 0px;
    padding: 0 50px;
    background-color: #fff200;
    height: 100%;
  }
  .contact-block {
    padding: 15px;
    height: 700px;
  }

  .title {
    font-family:'Bold';
    font-size: 72px;
    text-align: left;
    margin: 40px 0;
    margin-left: -200px;
  }

  .social-wrap {
    padding-bottom: 15px;
  }
  .icon-vk {
    background: url("../img/social.png") no-repeat;
    width: 37px;
    height: 37px;
    display: inline-block;
    &:hover, &:active {
      background-position: 0 100%;
    }
    .link-vk {
      width: 37px;
      height: 37px;
      display: inline-block;
    }
    margin-right: 10px;
  }
  .icon-inst {
    background: url("../img/social.png") no-repeat;
    width: 37px;
    height: 37px;
    display: inline-block;
    background-position: 100% 0;
    &:hover, &:active {
      background-position: 100% 100%;
    }
    .link-inst {
      width: 37px;
      height: 37px;
      display: inline-block;
    }
  }

  .tel {
    color: black;
    font-family:'Reg';
    font-size: 20px;
  }
  .mail-wrap {
    padding: 15px;
    .mail {
      font-family:'Reg';
      font-size: 20px;
      color: black;
    }
  }

  .adr {
    font-family:'Reg';
    font-size: 20px;
    color: black;
  }

  .text {
    font-family:'Reg';
    font-size: 18px;
    color: black;
  }


}

.modal-content {
  border-radius: 0;
}

.modal-body {
  padding: 30px;
  .close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 40px;
    outline: none;
  }
  .title {
    color: #000;
    font-family: 'Robo-Med';
    font-size: 42px;
    font-weight: 700;
    color: #616161;
    margin-bottom: 30px;
  }
  .form-group {
    label {
      display: block!important;
      margin-bottom: 5px;
      color: #9e9e9e;
      font-weight: 400;
    }
  }
  .form-control {
    font-size: 22px;
    width: 100%;
    height: 44px;
    padding: 7px 10px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .comment {
    height: auto;
    border: 1px solid #ccc;
  }
  .checkbox {
    display: inline-block;
    margin-top: 20px;
    label {
      padding-left: 24px;
      font-size: 15px;
      cursor: pointer;
    }
    input[type='checkbox'] {
      opacity: 0;
    }
    input[type='checkbox'] + span {
      background: url("../img/global/checkbox.png") no-repeat;
      padding-left: 24px;
      margin-left: -19px;
      padding-top: 8px;
      margin-right: 15px;
      float: left;
      display: block;
      width: 24px;
      height: 24px;
    }
    input[type='checkbox']:checked + span {
      background-position-y: 100%;
    }
  }
}

@media all and (min-width: 800px) {
  .header-modal .modal-dialog {
    width: 420px;
  }
}