.delivery-wrapper {

  .bg-wrap {
    background: url("../img/dilevery.png") no-repeat;
    padding: 100px 0px 150px 0;
    margin-top: 0px;
    background-position: 30% 50%;
    min-height: 650px;
    opacity: 0;
    &.ani {
      ani: fadeInRight .5s .2s ease both;
    }
  }

  .title {
    font-family: 'Bold';
    font-size: 72px;
    opacity: 0;
    &.ani {
      ani: fadeInRight .4s .6s ease both;
    }
  }

  .text {
    font-family: 'Reg';
    font-size: 22px;
    padding-top: 30px;
    opacity: 0;
    &.ani {
      ani: fadeInRight .4s .8s ease both;
    }
  }
}