.eco-wrapper {

  .bg-wrap {
    background: url("../img/A+.png") no-repeat;
    padding: 350px 0px 150px 0;
    margin-top: 100px;
    background-position: 40% 50%;
    min-height: 750px;
  }

  .title {
    font-family: 'Bold';
    font-size: 48px;
    padding: 15px;
    opacity: 0;
    &.ani{
      ani:fadeInLeft .5s .1s ease both;
    }
  }

  .text {
    font-family: 'Reg';
    font-size: 18px;
    padding: 15px;
    opacity: 0;
    &.ani{
      ani:fadeInRight .5s .5s ease both;
    }
  }
}