.porfolio-wrapper {
  padding: 100px 15px;

  .title {
    font-size: 68px;
    font-family: 'Bold';
    text-align: center;
  }

  .gallery-wrap {
    padding: 50px 15px;

    .figure-wrap {
      padding: 15px;

    }

    .img-wrap {
      padding: 0;

      .img-prev{
        width: 100%;
        height: 100%;
        max-height: 283px;
        object-fit: cover;
        transition: object-fit .3s ease;
      }

      .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        content: "";
        opacity: 0;
        transition: opacity .3s ease;
      }
      &:hover .bg{
        opacity: 1;
      }
    }
  }
}