.services-wrapper {
  padding: 150px 15px;

  .title {
    font-family: 'Bold';
    font-size: 72px;
    padding-bottom: 80px;
  }

  .text {
    font-size: 20px;
    font-family: 'Reg';
    opacity: 0;
    &.ani {
      ani: fadeInRight .5s .4s ease both;
    }
  }

  .icons {
    padding: 0;

    .icon {
      padding: 15px;
      .imgLiquid {
        background-position: 0 center !important;
      }
      opacity: 0;
    }
  }

  .video-wrap {
    padding: 50px 15px;
  }
}