
.slider-wrapper {
  padding: 30px 15px;
  .img-wrap {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-pack: center;
    overflow: hidden;

    .img {
      /*width: 100%;
      max-width: 100%;
      height: auto;
      min-height: 100%;*/
      min-height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .slider-block {
    height: 750px;
    padding: 0;
    .swiper-wrapper {
      width: auto;
      .swiper-slide {
        /* background: url("/img/index/slider_pic_full_size.png") no-repeat;
         background-size: cover;
         background-position: center;*/

        .title {
          position: absolute;
          top: 20%;
          l: 10%;
          color: #fff200;
          font-family: 'Bold';
          font-size: 58px;
          zi: 2;
          max-height: 165px;
          max-width: 80%;
          overflow: hidden;
        }
        .text {
          position: absolute;
          l: 10%;
          top: 45%;
          color: white;
          font-family: 'Reg';
          font-size: 26px;
          zi: 2;
          max-height: 75px;
          max-width: 80%;
          overflow: hidden;
        }
      }
    }

    .swiper-pagination {
      width: auto;
      top: 10%;
      left: 10%;
      bottom: auto;
        .swiper-pagination-bullet {
          width: 16px;
          height: 16px;
          border: 2px white solid;
          background: transparent;
          opacity: 1;

          &-active {
            background: white;
          }
        }
    }
  }
}

