<div id="about_us" class="about_us-wrapper wrapper container">

  <div class="title col-xs-12">О нас</div>

  <div class="col-lg-4 col-sm-6 col-xs-12 pic-wrap">
    <div class="imgLiquidNoFill imgLiquid" style="width:100%; height:100px;">
      <img alt="" src="img/icon_1.png"/>
    </div>
    <p class="sub">Мы официальные представители от завода &laquo;Senideco&raquo;</p>
  </div>

  <div class="col-lg-4 col-sm-6 col-xs-12 pic-wrap">
    <div class="imgLiquidNoFill imgLiquid" style="width:100%; height:100px;">
      <img alt="" src="img/icon_2.png"/>
    </div>
    <p class="sub">Первый и единственный монобренд &laquo;Senideco&raquo; в Нижнем Новгороде</p>
  </div>

  <div class="col-lg-4 col-sm-6 col-xs-12 pic-wrap">
    <div class="imgLiquidNoFill imgLiquid" style="width:100%; height:100px;">
      <img alt="" src="img/icon_3.png"/>
    </div>
    <p class="sub">Цены от производителя</p>
  </div>

  <div class="col-lg-4 col-sm-6 col-xs-12 pic-wrap">
    <div class="imgLiquidNoFill imgLiquid" style="width:100%; height:100px;">
      <img alt="" src="img/icon_4.png"/>
    </div>
    <p class="sub">Бесплатно изготавливаем образцы в течение 2-х дней</p>
  </div>

  <div class="col-lg-4 col-sm-6 col-xs-12 pic-wrap">
    <div class="imgLiquidNoFill imgLiquid" style="width:100%; height:100px;">
      <img alt="" src="img/icon_5.png"/>
    </div>
    <p class="sub">Колеруем материал в любой цвет</p>
  </div>

  <div class="col-lg-4 col-sm-6 col-xs-12 pic-wrap">
    <div class="imgLiquidNoFill imgLiquid" style="width:100%; height:100px;">
      <img alt="" src="img/icon_6.png"/>
    </div>
    <p class="sub">Бесплатный выезд обмерщика и специалиста на объект</p>
  </div>

</div>