<div id="about" class="about-wrapper wrapper container">

  <div class="bg-wrapper container-fluid">
    <div class="title col-lg-11 col-lg-offset-1 col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-4">О &laquo;Senideco&raquo;</div>

    <div class="text col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-3 col-sm-7 col-sm-offset-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur distinctio doloremque fuga fugiat hic
      laboriosam laborum necessitatibus optio quidem repellendus, sed vitae. Blanditiis hic magni, nam obcaecati
      reprehenderit sed totam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis molestias necessitatibus
      obcaecati pariatur! Asperiores atque, esse, eveniet ex fugit illo molestiae mollitia necessitatibus numquam
      provident quidem quod, repellat vel veritatis!
    </div>

    <div class="text col-lg-3 col-md-4 col-md-offset-0 col-sm-7 col-sm-offset-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur distinctio doloremque fuga fugiat hic
      laboriosam laborum necessitatibus optio quidem repellendus, sed vitae. Blanditiis hic magni, nam obcaecati
      reprehenderit sed totam?
    </div>
  </div>



</div>