<div id="collections" class="collections-wrapper wrapper container">

  <div class="title col-xs-12">Коллекции</div>

  <div class="btn-wrap col-xs-12">
    <a href="img/table_info.xlsx" target="_blank" class="btn btn-default btn-main">
      <img alt="" src="img/download_icon.png"/>
      Скачать прайс-лист
    </a>
    <p class="sub">XLS, 82 Кб</p>
  </div>

  <div class="cards-wrap col-xs-12">

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-wrap">
      <div class="card-block" data-toggle="modal" data-target=".collection-modal">
        <div class="imgLiquidFill imgLiquid" style="width:100%; height:400px;">
          <img alt="" src="img/01_senibeton.jpg"/>
        </div>

        <div class="card-text">
          <p class="text-1">Lorem</p>
          <p class="text-2">Ipsum</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-wrap">
      <div class="card-block" data-toggle="modal" data-target=".collection-modal">
        <div class="imgLiquidFill imgLiquid" style="width:100%; height:400px;">
          <img alt="" src="img/02_cristal.jpg"/>
        </div>

        <div class="card-text">
          <p class="text-1">Lorem</p>
          <p class="text-2">Ipsum</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-wrap">
      <div class="card-block" data-toggle="modal" data-target=".collection-modal">
        <div class="imgLiquidFill imgLiquid" style="width:100%; height:400px;">
          <img alt="" src="img/02_cristal.jpg"/>
        </div>

        <div class="card-text">
          <p class="text-1">Lorem</p>
          <p class="text-2">Ipsum</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-wrap">
      <div class="card-block" data-toggle="modal" data-target=".collection-modal">
        <div class="imgLiquidFill imgLiquid" style="width:100%; height:400px;">
          <img alt="" src="img/01_senibeton.jpg"/>
        </div>

        <div class="card-text">
          <p class="text-1">Lorem</p>
          <p class="text-2">Ipsum</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-wrap">
      <div class="card-block" data-toggle="modal" data-target=".collection-modal">
        <div class="imgLiquidFill imgLiquid" style="width:100%; height:400px;">
          <img alt="" src="img/02_cristal.jpg"/>
        </div>

        <div class="card-text">
          <p class="text-1">Lorem</p>
          <p class="text-2">Ipsum</p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="modal fade collection-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="title">Havana grès</div>
        <div class="desc">Гавана гро</div>
        <div class="text">Декоративное настенное покрытие, позволяющее создать эффект грубого или состаренного бетона. Стоимость  покрытия — от 925 р./м2, стоимость нанесения — от 1 150 р./м2.</div>
        <div class="cards-wrap gallery-wrap row">

          <figure class="card-wrap col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
            <a class="card-block" href="img/01_senibeton.jpg" itemprop="contentUrl" data-size="270x270">
              <img alt="Галерея коллекции" src="img/01_senibeton.jpg" itemprop="thumbnail">
              <div class="card-text">Jaspe</div>
            </a>
            <figcaption itemprop="caption description">Здесь вставить комментарий для галереи</figcaption>
          </figure>

          <figure class="card-wrap col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
            <a class="card-block" href="img/02_cristal.jpg" itemprop="contentUrl" data-size="270x270">
              <img alt="Галерея коллекции" src="img/02_cristal.jpg" itemprop="thumbnail">
              <div class="card-text">Jaspe</div>
            </a>
            <figcaption itemprop="caption description">Jaspe</figcaption>
          </figure>

          <figure class="card-wrap col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
            <a class="card-block" href="img/01_senibeton.jpg" itemprop="contentUrl" data-size="270x270">
              <img alt="Галерея коллекции" src="img/01_senibeton.jpg" itemprop="thumbnail">
              <div class="card-text">Jaspe</div>
            </a>
            <figcaption itemprop="caption description">Jaspe</figcaption>
          </figure>

          <figure class="card-wrap col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
            <a class="card-block" href="img/02_cristal.jpg" itemprop="contentUrl" data-size="270x270">
              <img alt="Галерея коллекции" src="img/02_cristal.jpg" itemprop="thumbnail">
              <div class="card-text">Jaspe</div>
            </a>
            <figcaption itemprop="caption description">Jaspe</figcaption>
          </figure>

        </div>
      </div>
    </div>
  </div>

</div>