<div id="colors" class="colors-wrapper wrapper container">

  <div class="bg-wrap container-fluid">
    <div class="title col-lg-6 col-lg-offset-2 col-md-9 col-md-offset-2 col-sm-12 col-xs-12">Подбор цвета декоративных красок и штукатурок</div>

    <div class="text col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-6 col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate
      dicta distinctio eligendi eos esse harum hic illum iure maiores neque nisi nobis perferendis praesentium rem,
      sequi sit unde vero.
    </div>
  </div>

</div>