<div id="contacts" class="contacts-wrapper wrapper container">

  <div class="col-lg-5 col-lg-offset-2 col-md-6 col-md-offset-0 col-xs-12 contact-block">
    <div class="contact-wrap container-fluid">
      <div class="col-xs-12"><div class="title">Контакты</div></div>
      <div class="col-xs-12 social-wrap">
        <a href="#" class="link-vk">
          <div class="icon-vk"></div>
        </a>
        <a href="#" class="link-inst">
          <div class="icon-inst"></div>
        </a>
      </div>
      <div class="col-xs-12"><a href="tel:+79023051270" class="tel">+7 (902) 305 12 70</a></div>
      <div class="col-xs-12"><a href="tel:+79877405921" class="tel">+7 (987) 740 59 21</a></div>
      <div class="col-xs-12"><a href="tel:+78312301360" class="tel">+7 (831) 230 13 60</a></div>
      <div class="col-xs-12 mail-wrap"><a href="mailto:senideco-nn@mail.ru" class="mail">senideco-nn@mail.ru</a></div>
      <div class="col-xs-12"><p class="adr">г. Н. Новгород, ул. Родионова, 165/13 <br> (ТЦ Ганza, 2 этаж)</p></div>
      <div class="col-xs-12"><p class="text">пн-пт 10:00 - 20:00, сб-вс 11:00-18:00</p></div>
      <div class="col-xs-12"> <button type="button" data-toggle="modal" data-target=".header-modal" class="btn btn-default btn-main">Оставить заявку</button></div>

    </div>
  </div>

  <div class="map-wrap col-lg-5 col-md-6 col-xs-12">
    <div id="map"></div>
  </div>

</div>

<div class="modal fade header-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <form class="form-wrap">
          <div class="title">Напишите нам</div>
          <div class="form-group">
            <label>Имя</label>
            <input type="name" class="form-control" id="inputName" required>
          </div>
          <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" id="inputEmail" required>
          </div>
          <div class="form-group">
            <label>Телефон</label>
            <input type="phone" class="form-control" id="inputPhone" required>
          </div>
          <div class="form-group">
            <label>Сообщение</label>
            <textarea type="text" class="form-control comment" id="exampleTextarea" rows="5"></textarea>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" required>
                <span></span>
                Я принимаю <a href="#">Правила обработки</a> персональных данных
              </label>
            </div>
          </div>
          <div class="btn-wrap">
            <button type="submit" class="btn btn-default btn-main">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
