<div id="delivery" class="delivery-wrapper wrapper container">

  <div class="bg-wrap container-fluid">
    <div class="title col-lg-8 col-lg-offset-2 col-xs-12">Доставка</div>

    <div class="text col-lg-4 col-lg-offset-2 col-xs-12"> По Нижнему Новгороду и области
      <br>
      <strong>в течении 3-х дней</strong>
    </div>
  </div>

</div>