<div id="ecologist" class="eco-wrapper wrapper container">

  <div class="bg-wrap container-fluid">
    <div class="title col-lg-4 col-lg-offset-2 col-md-6 col-md-offset-0 col-xs-12">Класс экологичности</div>

    <div class="text col-lg-4 col-md-6 col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate
      dicta distinctio eligendi eos esse harum hic illum iure maiores neque nisi nobis perferendis praesentium rem,
      sequi sit unde vero.
    </div>
  </div>

</div>