<div id="services" class="services-wrapper wrapper container">


  <div class="title col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">Услуги <br> по нанесению</div>

  <div class="icons col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-2 col-xs-12">
    <div class="icon col-xs-4">
      <div class="imgLiquidNoFill imgLiquid" style="width:100%; height:100px;">
        <img alt="" src="img/cover_icon_1.png"/>
      </div>
    </div>
    <div class="icon col-xs-4">
      <div class="imgLiquidNoFill imgLiquid" style="width:100%; height:100px;">
        <img alt="" src="img/cover_icon_2.png"/>
      </div>
    </div>
    <div class="icon col-xs-4">
      <div class="imgLiquidNoFill imgLiquid" style="width:100%; height:100px;">
        <img alt="" src="img/cover_icon_3.png"/>
      </div>
    </div>
  </div>

  <div class="text col-lg-4 col-md-5 col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
    cupiditate dicta distinctio eligendi eos esse harum hic illum iure maiores neque nisi nobis perferendis
    praesentium rem, sequi sit unde vero.
  </div>

  <div class="video-wrap col-lg-8 col-lg-offset-2  col-md-10 col-md-offset-2 col-xs-12">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/rlZKz02BfZE"></iframe>
    </div>
  </div>

</div>