<div class="slider-wrapper wrapper container">

  <div class="col-xs-12 slider-block swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="title">Французская одежда <br> для ваших стен</div>
        <div class="text">Декоративная краска и штукатурка для стен и деталей интерьера</div>
        <div class="img-wrap">
          <img src="img/slide_1.jpg" alt="" class="img">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="title">Французская одежда <br> для ваших стен</div>
        <div class="text">Декоративная краска и штукатурка для стен и деталей интерьера</div>
        <div class="img-wrap">
          <img src="img/slide_1.jpg" alt="" class="img">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="title">Французская одежда <br> для ваших стен</div>
        <div class="text">Декоративная краска и штукатурка для стен и деталей интерьера</div>
        <div class="img-wrap">
          <img src="img/slide_1.jpg" alt="" class="img">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="title">Французская одежда <br> для ваших стен</div>
        <div class="text">Декоративная краска и штукатурка для стен и деталей интерьера</div>
        <div class="img-wrap">
          <img src="img/slide_1.jpg" alt="" class="img">
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>